.tech-stack{

    padding: 8px 4.5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #0c323e;
    color: white;
    cursor: pointer;
    font-weight: lighter;
    margin-right: 3px;


}