*{
    padding: 0;
    margin: 0;
}
.center{
    flex: 6;
    height: 100vh;
}

/* Styles for screens smaller than or equal to 600px */
@media (max-width: 600px) {
      
 
        
}

/* Styles for screens larger than 600px and smaller than or equal to 900px */
@media (min-width: 601px) and (max-width: 900px) {
  /* Your styles here */
}